{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
 <span id='span_h3'><h3>Novas Designações - Reunião de Meio de Semana</h3></span>
<br>
      <div class='row'>
             <form method="post">
              <div>
                
                <a id="registro_b" href="/historico_quarta" class="btn btn-primary" role="button" aria-pressed="true">Visualizar Histórico <br>de Designações </a>
                <a id="registro_b" href="/desig_coordenador" class="btn btn-secondary" role="button" aria-pressed="true">Designar somente<br> "Nossa Vida"</a>
                <a id="registro_b" href="/indicadores" class="btn btn-secondary" role="button" aria-pressed="true">Designar somente<br> Indicadores</a>
                <a id="registro_b" href="/desig_conferencia" class="btn btn-secondary" role="button" aria-pressed="true">Designar somente <br>Conferência Pública</a>
              </div>
                <br>
                {% csrf_token %}
                <div class="form-row">
                <div class="form-group col-md-4">
                    {{ quarta.data|as_crispy_field }}
                </div>    
                    <div class="form-group col-md-4">    
                    {{ quarta.presidente|as_crispy_field }}
                </div>    
                    <div class="form-group col-md-4">    
                    {{ quarta.oração_Inicial|as_crispy_field }}
                  </div>
                </div>
                  <h5>Tesouros da Palavra de Deus</h5>   
                  <div class="form-row">
                      <div class="form-group col-md-4"> 
                     {{ quarta.tesouros|as_crispy_field }}
                </div>
                    <div class="form-group col-md-4"> 
                    {{ quarta.joias_Espirituais|as_crispy_field }}
                </div>     
                    <div class="form-group col-md-4"> 
                    {{ quarta.leitura_da_Bíblia|as_crispy_field }}
                </div>
              </div>
                <h5>Faça seu Melhor no Ministério</h5>   
                <div class="form-row">
                  <div class="form-group col-md-3">
                    {{ quarta.designação_01|as_crispy_field }}
                </div>
                  <div class="form-group col-md-3">    
                    {{ quarta.ajudante_01|as_crispy_field }}
                </div>
                    <div class="form-group col-md-3">    
                    {{ quarta.designação_02|as_crispy_field }}
                </div>
                    <div class="form-group col-md-3">    
                    {{ quarta.ajudante_02|as_crispy_field }}
                  </div>
                </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      {{ quarta.designação_03|as_crispy_field }}
                  </div>
                    <div class="form-group col-md-3">    
                      {{ quarta.ajudante_03|as_crispy_field }}
                  </div>
                      <div class="form-group col-md-3">    
                      {{ quarta.designação_04|as_crispy_field }}
                  </div>
                      <div class="form-group col-md-3">    
                      {{ quarta.ajudante_04|as_crispy_field }}
                    </div>
                </div>   
                    <h5>Nossa Vida Cristã</h5>   
                    <div class="form-row">
                    <div class="form-group col-md-3">
                    {{ quarta.nossa_Vida_01|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3">
                    {{ quarta.nossa_Vida_02|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2">
                    {{ quarta.dirigente_Estudo|as_crispy_field }}
                 </div>
                    <div class="form-group col-md-2">
                    {{ quarta.leitor_Estudo|as_crispy_field }}
                 </div>
                 <div class="form-group col-md-2">
                    {{ quarta.oração_Final|as_crispy_field }}
                </div>
            </div>
            <h5>Indicadores</h5>   
                 <div class="form-row">
                <div class="form-group col-md-3">
                {{ quarta.indicador_Principal|as_crispy_field }}
                </div>
                <div class="form-group col-md-3">
                {{ quarta.indicador_Recepção|as_crispy_field }}
                </div>
                <div class="form-group col-md-3">
                {{ quarta.volante_01|as_crispy_field }}
             </div>
                <div class="form-group col-md-3">
                {{ quarta.volante_02|as_crispy_field }}
             </div>
            </div> 
            <input id="registro_b" type="submit" class="btn btn-success" value="Salvar">
        </form>
        </div>
    </div>   


{% endblock %}

