{% extends 'base.html' %}

{% block content %}

<br>
<br>


<div id="cardhome" class="card w-100 header">
    <div  class="card-header">
      <h3>Anúncios do Escritório</h3>
    </div>
  </div>
 
  <br>
  <div id="cardhome"class="card w-100">
    <div class="card-body">
      <h5 class="card-title">1. Itens anuais: </h5>
      <hr>
      <p class="card-text">Os itens anuais para 2023 vão estar disponíveis para download a partir de outubro deste ano. Os publicadores que precisam da edição impressa já podem pedir os seguintes itens: o volume encadernado da Sentinela e Despertai! de 2022, o livreto Examine as Escrituras Diariamente de 2023 e o Índice das Publicações da Torre de Vigia 2022. Pedidos do Examine as Escrituras Diariamente em braille também já podem ser feitos.</p>
    </div>
  </div>
      <br>
      <div id="cardhome"class="card w-100">
    <div class="card-body">
        <h5 class="card-title">2. Serviço de Betel: </h5>
        <hr>
        <p class="card-text"> Publicadores batizados, de 19 anos de idade ou mais, que desejam servir em Betel ou ajudar em projetos de construção, seja por tempo parcial ou integral, devem falar com o secretário da sua congregação. Ele vai explicar como você poderá enviar uma petição. Se possível, é melhor que os publicadores que têm acesso à internet preencham a petição on-line. Além disso, os que preencherem uma petição devem assistir aos vídeos O Que Você Precisa Fazer para Servir em Betel? e Seja Honesto em Todas as Coisas (Petição para Betel/Construção) antes de enviá-la aos anciãos.</p>   
    </div>
  </div>
  <br>
      <div id="cardhome"class="card w-100">
    <div class="card-body">
        <h5 class="card-title">3. Revistas para o público:</h5>
        <hr>
        <p class="card-text">  Foi necessário cancelar a impressão de alguns números das revistas Despertai! e A Sentinela (edição para o público). Porém, as publicações digitais e outras publicações impressas disponíveis, o que inclui os antigos números dessas revistas, podem continuar a ser usadas no ministério.</p>
    </div>
    </div>
  </div>
{% endblock %}