{% extends 'base.html' %}

{% block content %}
{% load static %}
<br>
<div class="container">
<h3 style="text-align:center;">Histórico de Designações - Reunião de Fim de Semana</h3>
<br>
<div class="row">
<div class="col-sm-12"> 
  <div class="card">
<form method="GET"> 
    {% csrf_token %} 
         <div class="card-body"> 
              <input class="input col-md-3" type="month" name="data" placeholder="mês" maxlength="11" style="margin: 4% 0% 2% 0%;">
            <button id='bot' class="btn btn-primary">Pesquisar <br>por Mês</button>
            <button id='bot' class="btn btn-warning" name="todos">Visualizar<br> Todas</button>
                </form>
                <span><a href="/desig_sabado" id='bot' class="btn btn-success">Designar <br>Nova Semana</a></span>
                <span><a href="{% static 'Designações_Mensal.xlsx' %}" id='bot' class="btn btn-danger" download="designações">Baixar <br>Programação</a></span>
                <span><a href="/historico_quarta" id='bot' class="btn btn-secondary">Meio de<br> Semana</a></span>
             </div> 
             
         {% if messages %}
         <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
           {%  endfor %} 
          </ul>
          {% endif %}
      </div> 
      </div> 
 </div>   
  <br> 
  <div class="row">
 <div class="col-md-12"> 
    <table class="table">
      <tbody>
         <tr>
           <th>Semana de</th>
             {% for a in sabado %} 
            <th >{{ a.data|date:'d/m/Y' }}<a href="/editar_sabado/{{a.id}}"><i class="material-icons" data-md-tooltip="Editar">edit</i></a><a href="/deletar_sabado/{{a.id}}"><i class="material-icons" style=color:crimson data-md-tooltip="Apagar">delete</i></a></th>
            {% endfor %} 
        </tr>
        <tr>
         <th>Presidente</th>
        {% for a in sabado %} 
        <td>{{ a.presidente|default_if_none:"&nbsp;" }}</td>
        {% endfor %}  
      </tr>
      <tr>
        <th>Orador</th>
        {% for a in sabado %} 
        <td>{{ a.orador|default_if_none:"&nbsp;" }}</td>
        {% endfor %}
    </tr>  
    <tr>
      <th>Congregação</th>
        {% for a in sabado %} 
        <td>{{ a.congregação|default_if_none:"&nbsp;" }}</td>
        {% endfor %}
    </tr>  
    <tr>
        <th>Tema</th>
          {% for a in sabado %} 
          <td>{{ a.tema|default_if_none:"&nbsp;" }}</td>
          {% endfor %}
      </tr>  
    <tr>
      <th>Leitor da Sentinela</th>
        {% for a in sabado %} 
        <td>{{ a.leitor_da_Sentinela|default_if_none:"&nbsp;" }}</td>
        {% endfor %}
    </tr>
     <tr>
      <th>Indicador Principal</th>
        {% for a in sabado %} 
        <td>{{ a.indicador_Principal|default_if_none:"&nbsp;" }}</td>
        {% endfor %}
    </tr>
    <tr>
      <th>Recepção</th>
        {% for a in sabado %} 
        <td>{{ a.indicador_Recepção|default_if_none:"&nbsp;" }}</td>
        {% endfor %}
    </tr>
    <tr>
      <th>Volante 01</th>
        {% for a in sabado %} 
        <td>{{ a.volante_01|default_if_none:"&nbsp;" }}</td>
        {% endfor %}
    </tr>
    <tr>
      <th>Volante 02</th>
        {% for a in sabado %} 
        <td>{{ a.volante_02|default_if_none:"&nbsp;" }}</td>
        {% endfor %}
    </tr>                                            
         
    </tbody>
    </table>
</div>  
</div> 
</div> 

{% endblock %}

 