{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
 <span id='span_h3'><h3>Designações de Indicadores</h3></span>
   <br>
      <div class='row'>
             <form method="post">
               {% csrf_token %}
                <br>
                <h5>Indicadores</h5>   
                   
                  <div class="form-row">
                      <div class="form-group col-md-5">
                    {{ form.data|as_crispy_field }}
                </div>  
              </div>  
                <div class="form-row">
                <div class="form-group col-md-3">  
                 {{ form.indicador_Principal|as_crispy_field }}
                 </div>
                 <div class="form-group col-md-3">
                 {{ form.indicador_Recepção|as_crispy_field }}
                 </div>
                 <div class="form-group col-md-3">
                 {{ form.volante_01|as_crispy_field }}
              </div>
                 <div class="form-group col-md-3">
                 {{ form.volante_02|as_crispy_field }}
              </div>
            </div>
            <div id='sumir'>
                     {{ form.presidente|as_crispy_field }}
                     {{ form.orador|as_crispy_field }}
                      {{ form.congregação|as_crispy_field }}
                  {{ form.tema|as_crispy_field }}
                     {{ form.leitor_da_Sentinela|as_crispy_field }}
                </div> 
          
             <div>
             <input type="submit" class="btn btn-success" name="meio" value="Salvar ">
            </div> 
          </form>
       </div>
    
   </div>



{% endblock %}