{% extends 'base.html' %}

{% block content %}

<br>
<br>
<br>
<div class="row">
    <div class="col-sm">
        <div id="cardlocal" class="card h-100 card-inline-block w-100">
             <div class="card-body">
                <h5 class="card-title">Limpeza</h5>
                <hr>
              <a href="/limpeza" class="card-text">Tabela com as designações de limpeza</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div id="cardlocal" class="card h-100 card-inline-block w-100">
            <div class="card-body">
               <h5 class="card-title">Reuniões</h5>
               <hr>
             <a href="/reunioes" class="card-text">Designações das Reuniões</a>
           </div>
         </div>
   </div>
    <div class="col-sm">
        <div id="cardlocal" class="card h-100 card-inline-block w-100">
            <div class="card-body">
               <h5 class="card-title">Congresso 2022</h5>
               <hr>
             <a href="/congresso" class="card-text">Programação completa do Congresso 2022</a>
           </div>
         </div>
   </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <div id="cardlocal" class="card h-100 card-inline-block w-100">
                 <div class="card-body">
                    <h5 class="card-title">Grupos</h5>
                    <hr>
                  <a href="/grupos" class="card-text">Tabela com os grupos de serviço de campo, seus dirigentes e componentes</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div id="cardlocal" class="card h-100 card-inline-block w-100">
                <div class="card-body">
                   <h5 class="card-title">Contas</h5>
                   <hr>
                 <a href="/contas" class="card-text">Relatório das contas do mês atual</a>
               </div>
             </div>
       </div>
        <div class="col-sm">
            <div id="cardlocal" class="card h-100 card-inline-block w-100">
                <div class="card-body">
                   <h5 class="card-title">Visita do Superintendente de Circuito</h5>
                   <hr>
                 <a href="/visita" class="card-text">Data da próxima visita</a>
               </div>
             </div>
       </div>
        </div>

{% endblock %}