{% extends 'base.html' %}

{% block content %}

    <br>
    
  <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 800px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1635.9566327537964!2d-38.15533480834941!3d-12.693295088952684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716455a5605c1fd%3A0x5e13ec008bed105f!2zMTLCsDQxJzM3LjQiUyAzOMKwMDknMjAuMiJX!5e1!3m2!1spt-BR!2sbr!4v1651867473439!5m2!1spt-BR!2sbr" width="1100" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}
